.About_in {
  margin-bottom: 30px;
}

.About_img {
  width: 40%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.About_txt {
  width: 55%;
  margin-bottom: 10px;
  margin-right: 20px;
}




.About_tit {
  margin-bottom: 20px;
}

.About_txt b {
  display: block;
  margin-bottom: 8px;
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 990px) {
  .About_img {
    width: 55%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
  }

  .About_txt {
    margin: 20px auto;
  }
}

@media screen and (max-width: 780px) {
  .About_txt {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .About_img {
    width: 100%;
 
  }
}

@media screen and (max-width: 450px) {
  .container {
    max-width: 100%;
  }
}