.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

  /* .ProductList .product hr {
    border: 1px solid rgb(220, 220, 220);
    width: 90%;
  } */

.ProductList .product {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  margin: 15px 0px;
  padding: 5px;
  overflow: hidden;
}

.ProductList .product img {
  width: 250px;
  height: 250px;
  background-color: white;
  transition: all 100ms linear;
}

.ProductList .product:hover img {
  scale: 1.09;
  transform: translateY(-11px);
}

.product {
  transition: 0.3s;
}

.product a {
  color: rgb(78, 78, 78);
  text-decoration: none;
  font-size: 20px;
  transition: all 100ms linear;
}

/* .product a:hover {
  color: rgb(224, 224, 224);
} */
.ProductList span {
  font-size: 30px;
}

.ProductList .text {
  max-width: 200px;
  height: 90px;
  margin: 0 10px;
}

.ProductList .actions {
  margin: 0  10px;
}

.product_price {
  font-size: 20px;
}