.Menu {
  margin-top: 10px;
}

.Menu ul {
  color: white;
}

.Menu li {
  text-transform: uppercase;
  padding: 3px 10px;
  font-weight: 600;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}

.Menu li:hover {
  border-color: #dbdbdb;
}

.Foot_menu {
  width: calc(100% - 330px);
}

footer .Menu ul {
  flex-direction: column;
  font-size: 12px;
  padding-bottom: 20px;
  display: inline-block;
}

footer .Menu li {
  margin-bottom: 8px;
  padding: 3px 0 1px;
  text-transform: none;
}

@media screen and (max-width: 540px) {
  .Menu {
    margin: 15px auto;
  }
}

@media screen and (max-width: 1300px) {
  .Foot_menu {
    width: calc(100% - 180px);
  }
}

@media screen and (max-width: 990px) {
  .Foot_menu {
    width: calc(100% - 130px);
  }
}

@media screen and (max-width: 780px) {
 
}

@media screen and (max-width: 540px) {
  
}

@media screen and (max-width: 450px) {
 
}