.cartItem {
  display: flex;
  align-items: center;
  margin: 30px 0 15px 0;
  padding: 10px;
  border: 1px solid #ddd;
  width: 550px;
}

.cartItem img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.itemDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.itemDetails a {
  font-size: 1.2em;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
}

.itemDetails span {
  font-size: 1.1em;
  font-weight: bold;
  color: #555;
}

.inputs {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantityButton {
  background-color: #eee;
  border: none;
  color: #333;
  font-size: 1.2em;
  cursor: pointer;
  padding: 5px 10px;
  width: 100px;
}

.quantityButton:hover {
  background-color: #ddd;
}

.removeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  margin-left: 5px;
}

.removeButton img {
  width: 20px;
  height: 20px;
}

input[type="number"] {
  width: 50px;
  padding: 5px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 880px) {
  .CartList .cartItem {
    font-size: 23px;
  }

  .cartItem i {
    font-size: 28px;
  }
}

@media (max-width: 700px) {
  .CartList .cartItem {
    font-size: 18px;
  }

  .cartItem .inputs {
    flex-direction: column-reverse;
    font-size: 23px;
  }

  .inputs i {
    font-size: 28px;
  }
}