.Delivery {
    align-items: center;
}

.DelCard {
    width: 270px;
    border-radius: 1px;
    border: solid rgb(146, 146, 146);
    overflow: hidden;
    height: 450px;
    cursor: pointer;
    margin: 20px 10px;
}

.DelImg {
    width: 100%;
    margin-bottom: 10px;
}

.DelTxt {
    padding: 15px;
}
@media screen and (max-width: 780px) {
	.DelCard {
        margin: 20px auto;
    }
}