
.Delivery{
    align-items: center;
}
.DelCard{
    width: 350px;
    border-radius: 3px ;
    border: solid rgb(0, 0, 0);
}
.DelImg{
    width: 300px;   
    margin-bottom: 10px;
}
.DelTxt{
    padding: 5px;
}
