.Delivery {
    align-items: center;
}

.DelCard {
    width: 350px;
    border-radius: 1px;
    border: solid rgb(146, 146, 146);
    overflow: hidden;
    height: 450px;
    cursor: pointer;
}

.DelImg {
    width: 100%;
    margin-bottom: 10px;
}

.DelTxt {
    padding: 15px;
}